In [1]:
print("hello world")

hello world

# Variable

In [2]:
x = 10 #x is variable name
# 10 is the literal
print(x)

10

## Ketboard Shorcuts
- b --> add a cell below
- a --> add a cell above
- dd --> delete current cell

# Literals
- Literals are values used in Python
- Types are: Numeric, Boolean, Collection, Strig, Special

In [5]:
# numeric
# integer, float, complex
x=0
y=-1
z=1

In [6]:
print(type(x))

<class 'int'>

In [7]:
print(type(y))

<class 'int'>

In [8]:
print(type(z))

<class 'int'>

In [9]:
#float
x=25.0

In [10]:
print(type(x))

<class 'float'>

In [11]:
#complex
x=1+2j
print(type(x))

<class 'complex'>

# Boolean

In [12]:
x=True
y=False
print(type(x))
print(type(y))

<class 'bool'>
<class 'bool'>

# String
- string can be collection of characters inside the single, double, triple single or double quotes

In [15]:
x= "spring"
y= 'spring'
z= '''spring'''
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'str'>
<class 'str'>

# Collection
- list
- tuples
- dict
- sets

# Operators in Python Programming
- Arithmetic Operators- 
Comparison Operator
- 
Assignment Operato
- s
Logical Operat
- rs
Bitwise Opera
- ors
Identity Oper
- tors
Membership Operators

In [18]:
#Arithmetic
x=10
y=25
print(x+y)

35

In [19]:
#mod
# return the remainder
x%y

10

In [20]:
y%x

5

In [21]:
#comparison
x>y

False

In [22]:
x<y

True

In [23]:
x!=y

True

In [25]:
x==y

False

# Assignment Operators

In [29]:
x=100
x

100

In [31]:
x += 10 #x= x+10
x

110

In [32]:
x -= 10 #x= x-10
x

100

In [33]:
x /= 10 #x= x/10
x

10.0

# Bitwise Operator

In [34]:
x= 10
x & y

8

# Identity Operator

In [35]:
x is 10

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\WhiyongL\AppData\Local\Temp\ipykernel_30668\2183931627.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  x is 10

True

# Memebership Operator

- in
- not in

# String
- Concatenation
- Repetition
- Membership Operators
- Length
- Indexing
- Slicing

In [40]:
# Single line
x = 'hello world welcome to mlops 12312'
y = " hello world mlops"

# Multi line string
z = ''' hello world 
welcome '''
w = """ welcome to 
mlops class """

In [37]:
z

' hello world \nwelcome '

In [41]:
print(z)

 hello world
welcome

In [42]:
x = 'mlops'
y = 'project'
x+y # concatenation

'mlopsproject'

In [44]:
x*2 #repetition

'mlopsmlops'

In [45]:
'mlops' in x # membership operator

True

In [46]:
'welcome' in x

False

In [47]:
len(x)

5

In [ ]:
# indexing - fetch the element
# slicing - fetching the subset from the given sequence

In [48]:
x = "hello class, welcome to mlops complete bootcamp"

In [49]:
print(x)

hello class, welcome to mlops complete bootcamp

In [52]:
# Indexing starts from zero
x[5]

' '

In [53]:
# Slicing - getting the subset
# variable[start:stop] - start index position is inclusive, and end is exclusive

In [54]:

x[1:5] # start with 1st index , go till 5, but excluding 5

'ello'

In [55]:
x[0] = 'H'

TypeError: 'str' object does not support item assignment

# Built-in Fuctions

In [56]:
# Single line
x = 'hello world welcome to mlops 12312'
y = " hello world mlops"

# Multi line string
z = ''' hello world welcome '''
w = """ welcome to mlops class """

In [59]:
x.capitalize() #first letter capitalization # shift+tab to see info

'Hello world welcome to mlops 12312'

In [58]:
x.isalnumum() # check whether the string is alpha numeric is or not

False

In [60]:
"welcome123".isalnum()

True

In [61]:
a = 'WELCOME TO PYTHON'
a.lower()

'welcome to python'

In [62]:
x.upper()

'HELLO WORLD WELCOME TO MLOPS 12312'

In [63]:
#strip
a = "    welcome.  "
print(a.strip())

welcome.

# List

In Python, a list serves as a flexible and mutable data type designed for storing a group of items. Maintaining order is a key feature of lists, ensuring that the sequence in which elements are added is retained. Lists can accommodate diverse data types, encompassing numbers, strings, and even nested lists. The syntax for defining a list involves enclosing a sequence of elements in square brackets, with commas separating individual items.

In [64]:
x = [20, 30,"hello","welcome",12.25]
print(x)

[20, 30, 'hello', 'welcome', 12.25]

In [65]:
type(x)

list

In [66]:
print(type(x))

<class 'list'>

# Operation in list

In [67]:
x = [10,20]
y = ['welcome','class']

In [68]:
x*3

[10, 20, 10, 20, 10, 20]

In [69]:
10 in x

True

In [70]:
len(x)

2

In [71]:
x = [20, 30,"hello","welcome",12.25]
print(x)

[20, 30, 'hello', 'welcome', 12.25]

In [72]:
x[0]

20

In [73]:
x[30]

IndexError: list index out of range

In [74]:
x[3]

'welcome'

In [75]:
x[0:4]

[20, 30, 'hello', 'welcome']

In [76]:
x[2] = 'mlops'
x

[20, 30, 'mlops', 'welcome', 12.25]

# Built-in FUction for List

In [77]:
x.append(999)
x

[20, 30, 'mlops', 'welcome', 12.25, 999]

In [78]:
x.remove(12.25)
x

[20, 30, 'mlops', 'welcome', 999]

# Tuples
Within Python, a tuple stands as an additional built-in and ordered collection type akin to a list. Nevertheless, distinctions between lists and tuples exist:

Immutability: Tuples are characterized by immutability, signifying that their elements remain unalterable after the tuple's creation. Once a tuple is established, the addition, removal, or modification of elements becomes unfeasible.

Syntax: The definition of tuples involves enclosing a sequence of elements, separated by commas, within parentheses ().

In [79]:
tup = (10, 20, 'welcome','mlops',12.567)
type(tup)

tuple

In [80]:

# immutable
tup[0] = 'welcome'

TypeError: 'tuple' object does not support item assignment

In [81]:
tup

(10, 20, 'welcome', 'mlops', 12.567)

In [82]:
tup+tup

(10, 20, 'welcome', 'mlops', 12.567, 10, 20, 'welcome', 'mlops', 12.567)

In [83]:
tup*3

(10,
 20,
 'welcome',
 'mlops',
 12.567,
 10,
 20,
 'welcome',
 'mlops',
 12.567,
 10,
 20,
 'welcome',
 'mlops',
 12.567)

In [84]:

tup[2] # indexing

'welcome'

In [85]:
tup[1:4] # slicing

(20, 'welcome', 'mlops')

In [86]:
len(tup)

5

# Dictionary
In Python, a dictionary is a versatile and mutable data type that is used to store key-value pairs. Unlike lists and tuples, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be of any immutable data type, such as strings or numbers.

In [87]:
x = {'number' : 9000, "name": "john", 'age':25, 'city': 'bangalore'}
x

{'number': 9000, 'name': 'john', 'age': 25, 'city': 'bangalore'}

In [89]:
x['name']

'john'

In [90]:
x['name']='jacob'
x

{'number': 9000, 'name': 'jacob', 'age': 25, 'city': 'bangalore'}

In [91]:
x['age']

25

In [92]:
len(x)

4

In [93]:
x.keys()

dict_keys(['number', 'name', 'age', 'city'])

In [94]:
x.values()

dict_values([9000, 'jacob', 25, 'bangalore'])

In [95]:
x.items()

dict_items([('number', 9000), ('name', 'jacob'), ('age', 25), ('city', 'bangalore')])

# Sets
In Python, a set is an unordered and mutable collection of unique elements. Sets are similar to lists and tuples, but they differ in that they do not allow duplicate elements, and the order of elements is not preserved. Sets are defined by enclosing a comma-separated sequence of elements within curly braces {}

In [96]:
my_set = {10,20,30,"hello","welcome",100,"hi"}
print(my_set)

{'hello', 100, 20, 'hi', 10, 'welcome', 30}

In [97]:
len(my_set)

7

In [98]:
my_set = {10,20,30,"hello","welcome",100,"hi",100,100} # unique values
print(my_set)

{'hello', 100, 20, 'hi', 10, 'welcome', 30}

In [99]:

my_set[0] #indexing is not supported

TypeError: 'set' object is not subscriptable

In [100]:

"hi" in my_set

True

# Casting
Casting in Python refers to the process of converting one data type into another.

Implicit Casting
Explicit Casting

In [101]:
2 * 1.5

3.0

In [102]:
float_number = 3.14
integer_number = int(float_number)  # Result: 3
integer_number

3

In [103]:
integer_number = 42
float_number = float(integer_number)  # Result: 42.0
float_number

42.0

In [104]:
number = 123
string_number = str(number)  # Result: '123'
string_number

'123'

In [105]:
my_tuple = (1, 2, 3)
list_from_tuple = list(my_tuple)  # Result: [1, 2, 3]
list_from_tuple

[1, 2, 3]

In [106]:
my_list = [4, 5, 6]
tuple_from_list = tuple(my_list)  # Result: (4, 5, 6)
tuple_from_list

(4, 5, 6)

In [107]:
my_list = [1, 2, 2, 3, 3]
set_from_list = set(my_list)  # Result: {1, 2, 3}
set_from_list

{1, 2, 3}

# Reading input from user

In Python, you can use the input() function to read input from the user.
The input() function takes a string as an argument, which serves as the prompt displayed to the user. It waits for the user to enter data and press Enter. The entered data is returned as a string.

In [108]:
user_input = input("Enter the value to store:")
print("output is",user_input)

Enter the value to store: 100

output is 100

In [110]:

type(user_input)

str

In [111]:
user_input_1 = int(input("Enter the number 1: "))
user_input_2 = int(input("Enter the number 2: "))
s = user_input_1 + user_input_2
print(s)

Enter the number 1:  11
Enter the number 2:  11

22

# String Formatting

String formatting in Python refers to the ways in which you can create strings with dynamic content, incorporating variables, expressions, or values within a string.

In [113]:

x = 10
y = 20
s = x+y

print("the first number is",x,"the second number is",y,"sum is",s)

the first number is 10 the second number is 20 sum is 30

In [116]:
#str.format()
message = "the first number is {}, the second number is {}, and sum is {}".format(x,y,s)
print(message)

the first number is 10, the second number is 20, and sum is 30

In [117]:

# F-strings
message = f"the first number is {x}, the second number is {y}, and sum is {s}"
print(message)

the first number is 10, the second number is 20, and sum is 30

# Conditional Statement

Conditional statements in Python allow you to execute different blocks of code based on whether a specified condition evaluates to True or False. The primary constructs for handling conditions in Python are the if, elif (short for "else if"), and else statements.

In [118]:
x=10
if x>0:
    print("x is positive")

x is positive

In [119]:
x=-10
if x>0:
    print("x is positive")

In [121]:
x=-10
if x>0:
    print("x is positive")

else:
    print("x is less than or equal to 0")

x is less than or equal to 0

In [124]:
x= -10
if x>0:
    print("x is positive")
elif x==0:
    print("x is equal to zero")
else:
    print("x is negative")

x is negative

# Control Statements:Loops

Looping statements in Python allow you to repeatedly execute a block of code. The two main types of loops in Python are for loops and while loops.

for Loop: The for loop is used for iterating over a sequence (such as a list, tuple, string, or range) or other iterable objects.
while Loop: The while loop is used to repeatedly execute a block of code as long as a specified condition is True.

In [125]:
fruits = ["apple",'banana','cherry']
for i in fruits:
    print(i)

apple
banana
cherry

In [126]:
count=0

while count<3:
    print(count)
    count+=1

0
1
2

In [128]:
fruits = ["apple",'banana','cherry']

for i in fruits:
    print(i)
    if i == "banana":
        break

apple
banana

In [130]:
fruits = ["apple",'banana','cherry']

for i in fruits:
    
    if i == "banana":
        continue
    print(i)

apple
cherry

# List Comprehension

In [131]:
x = [1,2,3,4,5,6,7,8]

result = []
for i in x:
    result.append(i**2)
print(result)

[1, 4, 9, 16, 25, 36, 49, 64]

In [133]:
[i**2 for i in x]

[1, 4, 9, 16, 25, 36, 49, 64]

In [134]:
[i++2 for i in x if i%2==0]

[4, 6, 8, 10]

# Module in Python

In [135]:
import my_module

In [136]:
my_module.my_great("john")

hey, welcome to the classjohn

In [137]:
my_module.age

25

In [138]:
import math

In [139]:
math.sqrt(100)

10.0

# Classes and Objects in Python

In [140]:
class MyClass:
    # Class variable
    class_variable = "I am a class variable"

    # Constructor (initializer) method
    def __init__(self, attribute1, attribute2):
        # Instance variables
        self.attribute1 = attribute1
        self.attribute2 = attribute2

    # Instance method
    def display_attributes(self):
        print(f"Attribute 1: {self.attribute1}")
        print(f"Attribute 2: {self.attribute2}")

    # Another instance method
    def modify_attributes(self, new_value1, new_value2):
        self.attribute1 = new_value1
        self.attribute2 = new_value2

In [141]:
obj1=MyClass("jacob","john")

In [143]:
obj1.display_attributes()

Attribute 1: jacob
Attribute 2: john

In [160]:
obj1.modify_attributes("give","me")

In [161]:
obj1.display_attributes()

Attribute 1: give
Attribute 2: me

In [162]:
obj1.attribute1

'give'

In [148]:
obj2=MyClass("jacob","john")

In [149]:
obj2.display_attributes()

Attribute 1: jacob
Attribute 2: john

# File handling

fileobj = open(filename,mode)

- fileobj - file object returned by open()
- filename - String name of the file
- mode - string indicating the file's type and what we want to perform

First Letter of mode indicates the operation :

- r means read
- w means write. If the file doesn't exist, it will be created. If already exists it will be over-written
- x means write, but only if file doesn't exist
- a means append (write after the end) if the file exists.

Second letter of mode is file's type:

- t (or nothing) means text
- b means binary

close the file once write is complete. fileobj.close()

In [150]:
fileobj=open("example.txt","wt")
fileobj.close()

In [151]:
fileobj = open('example.txt','xt')
fileobj.close()

FileExistsError: [Errno 17] File exists: 'example.txt'

In [152]:
fileobj = open('example2.txt','xt')
fileobj.close()

In [163]:
f = open('example.txt','wt')
f.write("give me")
f.close()

In [164]:
f=open('example.txt','rt')
data=f.read()
f.close()

In [165]:
data

'give me'

# Escape Characters

In [166]:
print("hello \n world")

hello
 world

In [167]:

# \t --> tab character
print("hello\tworld")

hello	world

In [168]:
# \\ --> backslash
print("hello\\world")

hello\world